* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background: var(--Background, #f1f1f1);
  overflow-x: hidden;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
/* ========================NAV SECTION============================= */
nav {
  background: #1a1a1a;
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
}

nav .logo .mLogo {
  display: none;
}

nav .inputWrapper {
  display: flex;
  width: 480px;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #616161;
  background: #303030;
  transition: 0.3s;
}

nav .inputWrapper:hover {
  border: 1px solid var(--stroke-s-100, #e1e1e1);
}

nav .inputWrapper:focus {
  border: 2px solid var(--White, #fff);
}

nav .inputWrapper:active {
  border: 2px solid var(--White, #fff);
}

nav .inputWrapper input {
  width: 100%;
  color: #b5b5b5;
}

nav .inputWrapper input::placeholder {
  color: #b5b5b5;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

nav .action {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .action .notifcation {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  background: #303030;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.3s;
}

nav .action .notifcation:hover,
nav .action .notifcation:focus {
  background: var(--grey-grey-50, #656266);
}

nav .action .userWraps {
  border-radius: 8px;
  background: #303030;
  display: flex;
  padding: 2px 2px 2px 8px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

nav .action .userWraps:hover,
nav .action .userWraps:active {
  background: var(--grey-grey-50, #656266);
}

nav .action .userWraps:focus {
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

nav .action .userWraps .user {
  color: var(--font-light, #e3e3e3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

nav .action .userWraps .userInit {
  display: flex;
  height: 28px;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);

  text-align: center;
  text-transform: uppercase;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

/* ========================USER DROPDOWN SECTION============================= */

.dropdown {
  position: absolute;
  right: 16px;
  top: 94px;
  display: flex;
  width: 320px;
  padding: 6px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: none;
  transition: 0.3s;
  pointer-events: none;
}

.dropdown.show {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  top: 64px;
}

.dropdown .ddTop {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.dropdown .userProfile {
  display: flex;
  padding: 4px 12px 4px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--states-hover, #f1f1f1);
  cursor: pointer;
}

.dropdown .ddLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown .ddUserInit {
  display: flex;
  height: 28px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  justify-content: center;
  align-items: center;
  border-radius: 5.25px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.dropdown .ddUsername {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.dropdown .allStores {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  width: 100%;
}

.dropdown .allStores:focus {
  border-radius: 8px;
  border: 2px solid var(--states-focused, #005bd3);
}

.dropdown .allStores:hover {
  background: var(--states-hover, #f1f1f1);
}

.dropdown .storeText {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.dropdown .midList {
  width: 100%;
  padding-block: 4px;
  border-top: 0.75px solid #e1e1e1;
  border-bottom: 0.75px solid #e1e1e1;
}

.dropdown .list {
  color: var(--font-dark, var(--grey-g-200, #303030));
  line-height: 140%;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding: 6px;
  border-radius: 8px;
  width: calc(100% - 12px);
  margin-inline: auto;
  cursor: pointer;
}

.dropdown .list:focus {
  border-radius: 8px;
  border: 2px solid var(--states-focused, #005bd3);
}

.dropdown .list:hover {
  background: var(--states-hover, #f1f1f1);
}

.dropdown .action {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  width: calc(100% - 12px);
  margin-inline: auto;
}

.dropdown .ddName {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}

.dropdown .email {
  color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  cursor: pointer;
}

/* ========================NOTIFICATION DROPDOWN SECTION============================= */
.notify {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 16px;
  top: 74px;
  opacity: 0;
  visibility: none;
  transition: 0.3s;
  pointer-events: none;
}

.notify.show {
  opacity: 1;
  visibility: visible;
  top: 64px;
  pointer-events: all;
}

.notify .notTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.notify .alerts {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.notify .notText {
  background: var(--states-hover, #f1f1f1);
  padding: 16px;
  color: var(--font-mid-2, #616161);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.notify .notBtn{
  cursor: pointer;
  border: 1px solid transparent;
}

.notify .notBtn:focus {
  border: 1px solid #005bd3;
  border-radius: 4px;
}

/* ============================= MAIN SECTION==================== */
main .planTitle {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  width: 800px;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #1a1a1a;
  margin-inline: auto;
}

main .planTitle.hide {
  display: none;
}

main .planTitle p {
  color: var(--font-light, #e3e3e3);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

main .planTitle .selectPlanMobile {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  padding: 6px 12px;
  cursor: pointer;
  display: none;
}

main .planTitle .selectAction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main .planTitle .selectAction .selectPlan {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--font-dark, #323232);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  transition: 0.3s;
}

main .planTitle .selectAction .selectPlan:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}

main .planTitle .selectAction .selectPlan:active {
  background: #f7f7f7;
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}

main .planTitle .selectAction .selectPlan:focus {
  border: 2px solid var(--states-focused, #005bd3);
  background: #fff;
}

main .planTitle .close {
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
}
/* =======================ACTIVITIES WRAP======================= */

.activitiesWrap {
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  width: 800px;
  margin-inline: auto;
}

.activitiesWrap.closedTitle {
  margin-top: 48px;
}

.activities {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}


.activities .arrow {
  border-radius: 6px;
  transition: 0.3s;
  padding: 4px;
  border: 2px solid transparent;
}

.activities .arrow .arrowUp {
  transition: 0.3s;
}

.activities .arrow .arrowUp.rotate {
  transform: rotate(180deg);
}

.activities .arrow:hover {
  background: var(--states-hover, #f1f1f1);
}

.activities .arrow:active {
  background: var(--states-pressed, #f0f0f0);
}

.activities .arrow:focus {
  border: 2px solid var(--states-focused, #005bd3);
}

.activities .left h1 {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 4px;
}

.activities .left .text {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
}

/* ====================PROGRESS BAR========================== */

.activities .left .progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

 .progress .progress-count {
  color: var(--font-dark, var(--grey-g-200, #303030));
  line-height: 130%;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.progress-bar{
  width: 72px;
  height: 4px;
  background: #E3E3E3;
  border-radius: 5px;
  overflow: hidden;
}

.checkProgress{
  height: 100%;
  width: 0;
  background: #000;
}


/* =======================PLAN SECTION======================= */

.planWrapper {
  margin-top: 16px;
  margin-inline: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.planWrapper.hide {
  display: none;
}

.bigWraps {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.planWrapper .planContainer {
  padding: 8px 8px 12px 8px;
  align-items: flex-start;
  border-radius: 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.planContainer.checked {
  background: #f3f3f3;
}

.planContainer .leftPlan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
}

.planContainer input[type="radio"]:checked + .leftPlan {
  gap: 16px;
}

/* show on custom checkd */
 .leftPlan.show {
  gap: 16px;
}


.planContainer .top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.planWrapper .title {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  line-height: 140%;
  cursor: pointer;
}

.planContainer input[type="radio"]:checked + .left .title {
  font-weight: 600;
}

/* show on custom checkd */
.title.show{
  font-weight: 600;
}


.planContainer .inputCheck {
  display: none;
}

.planContainer .details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  margin-left: 2rem;
  overflow: hidden;
  height: 0;
}

.planContainer input[type="radio"]:checked + .left .details {
  height: max-content;
  overflow: unset;
}

/* show on custom checkd */
 .details.show {
  height: max-content;
  overflow: unset;
}

.details .midText {
  color: var(--font-mid-2, #616161);

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.details .midBtn {
  color: var(--states-focused, #005bd3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.details .bottom {
  align-items: center;
  gap: 16px;
  display: flex;
}

.details .bottomBtne {
  border-radius: 6px;
  padding: 6px 12px;
  color: var(--font-dark, #323232);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.details .bottomBtne:hover {
  background: #e7e7e7;
}

.details .bottomBtne:active {
  background: #e0e0e0;
}

.details .bottomBtne:focus {
  border: 2px solid var(--states-focused, #005bd3);
  background: #fff;
}

.details .bottomBtn {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  padding: 6px 12px;
  cursor: pointer;
}

.details .bottomBtn:hover {
  background: #2a2a2a;
}

.details .bottomBtn:active {
  background: #2b2b2b;
}

.details .bottomBtn:focus {
  background: #404040;
  box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}

.planContainer .imgWraps {
  display: none;
}

.planContainer input[type="radio"]:checked ~ .imgWraps {
  display: block;
}

/* show on custom checkd */
.imgWraps.show{
  display: block;
}

/* ===========================CUSTOM CHECKBOX====================== */

.checkInput {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAcRJREFUaEPtWtutgzAMbVcBBmklxCiwAb+395cNYBSEVAYBVulVrpSqjeLYaUyoW/qbh885thPj9HgQ/jsKx39gJVAUxSXP8x+XKMMw/PZ9f+ESjo1AVVXXNE1PFGDzPI9t254pc7E5bASaprlhxh7H67pmse21SZZlpyRJ/lU2wyDUAyr81L7LsozTNI1UMcgEzPi2hYELhA95nzwhEYDU5QoDW/hR8wQlAIGnGqCEQogNJwFoYx8XUwioOdARjAkFEoA27Lru7JNkVAJqnsqTsiyv5hqXYFYC0EZrgtegfW1bCdjUjwHeRQLyAonAGjGPhZYpohcBtblOYCyJMCAh4xQM6DEaAiDG2p1ADJVdNp48QIm5rQBD2O4EqFm/BQEXtjsBs6Da4uiExLHdS7qQBAnEvLgwr9puZ5QAV6mMgaOOmxGyE6AqxzXv+zwgPonFHaPiL7J3KaGhpEdLCa7TIvY+ezkdW3HTHuiBdyitKRg+86NefFvFt7nEmQe+tj+ztagVFd3cxUhwNrxWa69jJLi+2lZ94NAkRD8xPXaNxT7yYUeliGdWF4nQZ1ZMIGictRoV/VeDVxUMXcfqgVAwr6z/A174EE+vPuksAAAAAElFTkSuQmCC"); /* Default image */
  background-size: cover;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.custom-checkbox:hover {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAiVJREFUaEPtmluSgjAQRXUpPvYxWlAuRXfgr+MvO4ClUFg6+/CxFKfaqlgQutOdhABxhj8NxHu6b+g8nE4iv6aR6590BrDZbL4hGGmaHkxBqarqCO1lWb7u9728AED0bDb7WiwWKxcht9vt8ng8fnxgnABAOBdpWyDIjAuIFcByuVwlSXJwjTgHBRk5nU7H6/V64e5V7WIASdSVv+/3+0UXAfDz+fxlNS57NtkQAex2uzMVdZeoAQSXTeg3z/M1lwkWgBLvKlwXZAKRQBgBKPE2KeYiqNopi3IQJADVYVEUa5tBJgVQttput2f9GVPAUABIK9ZRSPFKtO1vowCYdfoQb4KgrNQCwKwTwvOctaQ6WgBZlj3rnXODiBPi0445Yb/fNzQ3PmDUfVoHe8XqY1F3QwNAJx4y+gqG09QA0O0zZPRNA7puozcAZh/dbz5+9nlWD2zdRiTAEG8eClIPLgpgovSJXhfPmtzxzsAY/S8ZByTAWPyvIPQAK33/AF14XNLH38vAGIqY1yAecx0AsNYgNhULiUdD3iMqZNFPJSCCYyxm2BITncwBADd1DWkTqm9O02ctaDAbDbmosV5SAoB0MR3aTlIdn7etYtoh66M6d7KxRVkJvg8JQYm33lqkdgTU9yGmGZ1v7nIQUWyvcxDQ7grS2wGHgoj6iKk+L4/2kK9euCTZsC10ri8G9ozMJCTag24MKsq/GtjaJMT9XhYKIci2z19qUGBPNPFqwQAAAABJRU5ErkJggg==");
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAhVJREFUaEPtWttKw0AQbUGbCG1UMOCDfovtl9V+WeO36IMQQU0LJlVQppCy2czsfdsJ2Odkc86ZM7uzMx2PBv4bDxz/KBiBbJo9ghjZ9HIpi/L2US7qui5iiOVFAEAn58lDkqRzHbiX12evb1HrOy0KwDGlVSRYEEjTdD67mC1NFBfJsLCQierV9nMFwHc/uyKW5+UoG1kov87XlOpNUxebr83qWICtCVDgTw28JaKMAAUerFJtq/22eeofSYDyfMyEdBEDJQC7zc1Vvj7mgeQCHt5BCWDW4aY8mQOYdTh5XrsL3d3e/4oPwW5TvpcL1xDHfq9jIUx9rtZBLSR7n7v6vSSW7cNd/Q4BzD6xKsiQeXHIAZkA551HFOBAQLbP4AkMwf+dHJAjwM3/YnkjiktaiBsBSuB/AiG3RNVa1hHglMRYed9afBDbqOqQHcRBpjpkSQLgRy47keqQ7ZTTHIs5lf971SjHclqHifWFBlNfrtF6l3pOV0qsuSDnZY8Al0u9KQ6WbRXMOtT1ll1jy7apxqq1SIFXXa7YNHepXqyuM6KdD8Rur6umPjrwZG9ULmtjDDh04yoT8MYE4EHfERMAnpxN9tNM3YDQpqGgtZAYDZ1qvpcbl6mPFYEWoEk0bMnYqI72hWw/2NrKdNCNrQ+KN9/Nk8+4yikCGBjVXw3E59tRrA/oYBFwiVrod4JFIDQw0/X+ANmh5EAKvv5AAAAAAElFTkSuQmCC");
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: 0.5s;
  left: 0;
  top: 0;
  height: 24px;
  width: 24px;
}

.checkInput[type="checkbox"]:checked + .custom-checkbox::before {
  animation: showImage 1s forwards;
}

.checkInput[type="checkbox"]:checked + .custom-checkbox{
background: transparent;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAjxJREFUaEPdmt9OwjAUxsuF2UxgaiKJJuJzgDfCM5Dgc6DeI69D4jOAN4z30AsTTFQgcYsXmoMp6UbX021t17o70jK+3/m+/llHjTh+1RzXT5QBBPXgAYoR1I9GoqKsNp9jaF9tVtv+Za9SACDaO/CuPc/vFhESx9Es/o6fysAUAgDhWKXzAoEzRUByAfi+320cNkZFK45BgSPrr/U4iqIZ1pe2SwPoqHqWyDxuSAE0T5pTXVXPggA3lu/LHuYEClCFeCpaBkIIUKV4WYhMAJOZx2IiGhNcAJhtTo+bU+zGJtvfPpY93uzEBbAhOuniZI2HPQCbopOG4EVpD+DirPVjMhp5f+vl9TmhOfHB5upT0LQLCQAbs4+NhQSA6fh0rtpk8jgh4Twkg/6NdJrYGO0ATMeHiqeqW+eX0gBsjCoBSIsf9AcknC/KAZiKT1nxlJLGaOeACQBV4gFCCQAIanc6ZBGGaARUilcGMLwbktv74dZVUY5Vi1cGICNMpo/06GU6KokQ3E8kUJd4ZQ7QgvCEQhssUvTKO1VirihzIAuCFaBaPNcBFStx2glscGNVzmrXuhKzEDoqD1BcAGgwsZgVrTr7Pe5mDjo4v51WMQ5UVFh0D+EDjQsxEj5SAoDNLkg91Ns6FqSPVQDA+YMt26KU+2iRzgI2TKvYCfX/Pl6v0gms8lQb6gDtaHJ6Vf6KiUI4/ZKPXd51uJGn6qwW6Qjx9ifOvujOgvlbPxz6q4HunafM/UtFSOYHdPf5BSgvpkA2I0RCAAAAAElFTkSuQmCC");
  background-position: center;
  background-size: contain;
  transform: scale(0);
  transition: 0.5s;
  left: 0;
  top: 0;
  height: 24px;
  width: 24px;
}

.checkInput[type="checkbox"]:checked + .custom-checkbox::after {
  animation: showChecked 1s forwards;
}


@keyframes showImage {
  0% {
    opacity: 1;
    transform: rotate(-720deg);
  }
  100% {
    opacity: 0;
    cursor: default;
  }
}

@keyframes showChecked {
 100%{transform: scale(1);}
}

@media (max-width: 600px) {
  nav .logo .mLogo {
    display: block;
    margin-right: 16px;
  }

  nav .logo .dLogo {
    display: none;
  }

  nav .action .notifcation {
    background: transparent;
    margin-left: 8px;
  }

  nav .action .userWraps {
    background: transparent;
  }

  nav .action .userWraps .user {
    display: none;
  }

  main .planTitle {
    width: 100%;
    border-radius: 0;
    align-items: flex-start;
  }

  main .planTitle .selectPlanMobile {
    display: block;
    margin-top: 16px;
  }

  main .planTitle .selectAction .selectPlan {
    display: none;
  }

  .activitiesWrap {
    border-radius: 0;
    width: 100%;
  }

  .planContainer .imgWraps {
    display: none;
  }

  .planContainer input[type="radio"]:checked ~ .imgWraps {
    display: none;
  }

.planContainer .imgWraps.show{
    display: none;
  }

  .notify {
    width: calc(100% - 32px);
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
