* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background: var(--Background, #f1f1f1);
  overflow-x: hidden;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
/* ========================NAV SECTION============================= */
nav {
  background: #1a1a1a;
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
}

nav .logo .mLogo {
  display: none;
}

nav .inputWrapper {
  display: flex;
  width: 480px;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #616161;
  background: #303030;
}

nav .inputWrapper input {
  width: 100%;
  color: #b5b5b5;
}

nav .inputWrapper input::placeholder {
  color: #b5b5b5;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

nav .action {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .action .notifcation {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  background: #303030;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.3s;
}

nav .action .notifcation:hover,
nav .action .notifcation:focus {
  background: var(--grey-grey-50, #656266);
}

nav .action .userWraps {
  border-radius: 8px;
  background: #303030;
  display: flex;
  padding: 2px 2px 2px 8px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

nav .action .userWraps:hover,
nav .action .userWraps:focus {
  background: var(--grey-grey-50, #656266);
}

nav .action .userWraps .user {
  color: var(--font-light, #e3e3e3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

nav .action .userWraps .userInit {
  display: flex;
  height: 28px;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);

  text-align: center;
  text-transform: uppercase;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

/* ========================USER DROPDOWN SECTION============================= */

.dropdown {
  position: absolute;
  right: 16px;
  top: 94px;
  display: flex;
  width: 320px;
  padding: 6px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: none;
  transition: 0.3s;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
  top: 64px;
}

.dropdown .ddTop {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.dropdown .userProfile {
  display: flex;
  padding: 4px 12px 4px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--states-hover, #f1f1f1);
  cursor: pointer;
}

.dropdown .ddLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown .ddUserInit {
  display: flex;
  height: 28px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  justify-content: center;
  align-items: center;
  border-radius: 5.25px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.dropdown .ddUsername {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.dropdown .allStores {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  margin-bottom: 4px;
  cursor: pointer;
}

.dropdown .allStores:focus {
  border-radius: 8px;
  border: 2px solid var(--states-focused, #005bd3);
}

.dropdown .allStores:hover {
  background: var(--states-hover, #f1f1f1);
}

.dropdown .storeText {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.dropdown .midList {
  width: 100%;
  padding-block: 4px;
  border-top: 0.75px solid #e1e1e1;
  border-bottom: 0.75px solid #e1e1e1;
}

.dropdown .list {
  color: var(--font-dark, var(--grey-g-200, #303030));
  line-height: 140%;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding: 6px;
  border-radius: 8px;
  width: calc(100% - 12px);
  margin-inline: auto;
  cursor: pointer;
}

.dropdown .list:focus {
  border-radius: 8px;
  border: 2px solid var(--states-focused, #005bd3);
}

.dropdown .list:hover {
  background: var(--states-hover, #f1f1f1);
}

.dropdown .action {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  width: calc(100% - 12px);
  margin-inline: auto;
}

.dropdown .ddName {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}

.dropdown .email {
  color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  cursor: pointer;
}

/* ========================NOTIFICATION DROPDOWN SECTION============================= */
.notify {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 16px;
  top: 74px;
  opacity: 0;
  visibility: none;
  transition: 0.3s;
}

.notify.show {
  opacity: 1;
  visibility: visible;
  top: 64px;
}

.notify .notTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.notify .alerts {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.notify .notText {
  background: var(--states-hover, #f1f1f1);
  padding: 16px;
  color: var(--font-mid-2, #616161);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.notify svg {
cursor: pointer;
}

.notify svg:focus {
  border: 1px solid #005BD3;
}

/* ============================= MAIN SECTION==================== */
main .planTitle {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  width: 800px;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #1a1a1a;
  margin-inline: auto;
}

main .planTitle.closeTitle {
  display: none;
}

main .planTitle p {
  color: var(--font-light, #e3e3e3);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

main .planTitle .selectPlanMobile {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  padding: 6px 12px;
  cursor: pointer;
  display: none;
}

main .planTitle .selectAction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main .planTitle .selectAction .selectPlan {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--font-dark, #323232);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

main .planTitle .selectAction .close {
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
}

.activitiesWrap {
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  width: 800px;
  margin-inline: auto;
}

.activitiesWrap.closedTitle {
  margin-top: 48px;
}

.activities {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.activities .arrow {
  border-radius: 6px;
  transition: 0.3s;
  padding: 4px;
}

.activities .arrow .arrowUp {
  transition: 0.3s;
}

.activities .arrow .arrowUp.rotate {
  transform: rotate(180deg);
}

.activities .arrow:hover {
  border-radius: 6px;
  transition: 0.3s;
  background: var(--Background, #f1f1f1);
}

.activities .left h1 {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 4px;
}

.activities .left .text {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
}

.activities .left .progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.activities .left .progress p {
  color: var(--font-dark, var(--grey-g-200, #303030));
  line-height: 130%;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.activities svg {
  cursor: pointer;
}

.planWrapper {
  margin-top: 16px;
  margin-inline: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.planWrapper.hide {
  display: none;
}

.bigWraps {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.planWrapper .planContainer {
  padding: 8px 8px 12px 8px;
  align-items: flex-start;
  border-radius: 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.planContainer > input[type="radio"]:checked {
  background: #f3f3f3;
}

.planContainer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
}

.planContainer input[type="radio"]:checked + .left {
  gap: 16px;
}

.planContainer .top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  cursor: pointer;
}

.planWrapper .checkbox {
  cursor: pointer;
  position: relative;
}

.checkbox:hover .halfCheck {
  opacity: 1;
  visibility: visible;
  transform: rotate(30deg);
}

.check {
  position: absolute;
}

.planWrapper .halfCheck {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.planWrapper .title {
  color: var(--font-dark, var(--grey-g-200, #303030));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  line-height: 140%;
  cursor: pointer;
}

.planContainer input[type="radio"]:checked + .left .title {
  font-weight: 600;
}

.planContainer input {
  display: none;
}

.planContainer .details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  margin-left: 2rem;
  overflow: hidden;
  height: 0;
}

.planContainer input[type="radio"]:checked + .left .details {
  height: max-content;
  overflow: unset;
}

.details .midText {
  color: var(--font-mid-2, #616161);

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.details .midBtn {
  color: var(--states-focused, #005bd3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.details .bottom {
  align-items: center;
  gap: 16px;
  display: flex;
}

.details .bottomBtne {
  border-radius: 6px;
  padding: 6px 12px;
  color: var(--font-dark, #323232);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.details .bottomBtne:hover {
  background: #e7e7e7;
}

.details .bottomBtne:active {
  background: #323232;
}

.details .bottomBtn {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  padding: 6px 12px;
  cursor: pointer;
}

.details .bottomBtn:hover {
  background: #333;
}

.planContainer .imgWraps {
  display: none;
}

.planContainer input[type="radio"]:checked ~ .imgWraps {
  display: block;
}

@media (max-width: 600px) {
  nav .logo .mLogo {
    display: block;
    margin-right: 16px;
  }

  nav .logo .dLogo {
    display: none;
  }

  nav .action .notifcation {
    background: transparent;
    margin-left: 8px;
  }

  nav .action .userWraps {
    background: transparent;
  }

  nav .action .userWraps .user {
    display: none;
  }

  main .planTitle {
    width: 100%;
    border-radius: 0;
    align-items: flex-start;
  }

  main .planTitle .selectPlanMobile {
    display: block;
    margin-top: 16px;
  }

  main .planTitle .selectAction .selectPlan {
    display: none;
  }

  .activitiesWrap {
    border-radius: 0;
    width: 100%;
  }

  .planContainer .imgWraps {
    display: none;
  }

  .planContainer input[type="radio"]:checked ~ .imgWraps {
    display: none;
  }

  .notify{
    width: 90%;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
